@font-face {
    font-family: "icons";
    src: url("./icons.eot?420c22b8c0f8f44be85cb0d4c09555b3#iefix") format("embedded-opentype"),
url("./icons.woff2?420c22b8c0f8f44be85cb0d4c09555b3") format("woff2"),
url("./icons.woff?420c22b8c0f8f44be85cb0d4c09555b3") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
    content: "\f101";
}
.icon-plane:before {
    content: "\f102";
}
