$breakpoint: 600px;

$color-lightgray: #eee;
$color-gray: #999;
$color-jinzamomi: #ee827c;
$color-tokinezu: #e4d2d8;
$color-tokinezu-weak: rgba($color-tokinezu, 0.2);

$color-theme: $color-jinzamomi;
$color-text: #4b474d;
$color-text-weak: #8f8b91;

$font-family: 'Zen Kaku Gothic New', -apple-system, 'ヒラギノ角ゴ ProN W3',
  sans-serif;
$font-family-mono: 'Nanum Gothic Coding', monospace;

$font-size: 16px;
